<%= form_tag sessions_path, id: 'new_session', remote: true do %>
  <div class='field'>
    <div id='new-session-error-message'><p></p></div>
    <p><%= label_tag :email %><br>
    <%= text_field_tag :email, params[:email] %></p>
  </div>
  <div class='field'>
    <p><%= label_tag :password %><br>
    <%= password_field_tag :password %></p>
  </div><br>
  <div class='actions' class="btn btn-default navbar-btn">
    <%= submit_tag 'Log In', class: "btn btn-primary", id: 'log-in-button'  %>
  </div>
<% end %>