<div id='errors'></div>
<%= form_for(@prescription, remote: true) do |f| %>
  <%=fields_for :drug do |drug_form| %>
    <p>Drug name <%= drug_form.text_field :name %><span id='drug-valid-message'></span></p>
  <% end %>
  <%=fields_for :doctor do |doctor_form| %>
    <% if current_user.doctors.length < 1 %>
      <p><%= radio_button_tag(:doc_type, "new", checked: 'checked') %> New doctor</p>
      <p>First name <%= doctor_form.text_field :first_name %></p>
      <p>Last name <%= doctor_form.text_field :last_name %></p>
      <p>Location <%= doctor_form.text_field :location %></p>
    <% else %>
      <p><%= radio_button_tag(:doc_type, "existing", checked: 'checked') %> My doctors
  
      <%= doctor_form.select :id, @user.doctors.uniq.map {|doctor| ["#{doctor.first_name} #{doctor.last_name}", doctor.id]}, include_blank: true %>
</p>
      <p><%= radio_button_tag(:doc_type, "new") %> New doctor</p>
      <div id='new-doctor-fields'>
        <p>First name <%= doctor_form.text_field :first_name %>
        Last name <%= doctor_form.text_field :last_name %></p>
        <p>Location <%= doctor_form.text_field :location %></p>
      </div>
    <% end %>
    <% end %>
    <%=fields_for :pharmacy do |pharmacy_form| %>
    <% if current_user.pharmacies.length < 1  %>
      <p> <%= radio_button_tag(:pharm_type, "new", checked: 'checked') %> New pharmacy</p>
      <p>Name <%= pharmacy_form.text_field :name %>
      Location <%= pharmacy_form.text_field :location %></p>
    <% else %>
        <p><%= radio_button_tag(:pharm_type, "existing", checked: 'checked') %> My pharmacies
      <%= pharmacy_form.select :id, @user.pharmacies.uniq.map {|pharmacy| ["#{pharmacy.name} - #{pharmacy.location}", pharmacy.id]}, include_blank: true %>
    </p>
      <p><%= radio_button_tag(:pharm_type, "new") %> New pharmacy</p>
        <div id='new-pharmacy-fields'>
        <p>Name <%= pharmacy_form.text_field :name %>
        Location <%= pharmacy_form.text_field :location %></p>
        </div>
    <% end %>

      <% end %>
    <p>Prescription length (in days) <%= f.number_field :fill_duration, min: 0 %></p>
    <p>Number of refills <%= f.number_field :refills, min: 0 %></p>
    <p>Start date <%= f.date_field :start_date, :value => Date.today %></p>
    <p>Dose size <%= f.text_field :dose_size, placeholder: "e.g., 40 mg"%></p>
    <p>How many doses will you take at these times?</p>
    <p>Morning <%=fields_for :scheduled_doses do |scheduled_dose_form| %>

      <%= scheduled_dose_form.select :morning, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %>
    Afternoon <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :afternoon, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %>
    Evening <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :evening, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %>
    Bedtime <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :bedtime, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %></p><br>
    <!-- <input type='submit' id='form-submit' data-dismiss='modal'>Submit</input> -->

    <p><%= f.submit "Add Prescription", :class => "btn btn-primary", 'id' => "form-submit" %></p>
  <% end %>

