<%= form_for(@prescription, remote: true) do |f| %>
  <%=fields_for :drug do |drug_form| %>
    <p>Drug name <%= drug_form.text_field :name, value: @prescription.drug.name, disabled: f.object.persisted? %><span id='drug-name-validity-message' class='validation-message'></span></p>
  <% end %>
  <%=fields_for :doctor do |doctor_form| %>
    <% if current_user.doctors.length > 0 %>
      <p><%= radio_button_tag(:doc_type, "existing", checked: 'checked') %> My doctors
      <%= doctor_form.select :id, @user.doctors.uniq.map {|doctor| ["#{doctor.first_name} #{doctor.last_name}", doctor.id]}, include_blank: true, selected: @prescription.doctor.id %>
</p>
      <p><%= radio_button_tag(:doc_type, "new") %> New doctor</p>
      <div id='new-doctor-fields'>
      <% else %>
      <input type='hidden' name='doc_type' value='new'>
      <p>Doctor</p>
      <% end %>
        <p>First name <%= doctor_form.text_field :first_name %><span id='doctor-first-name-error-message' class='validation-message'>First name required</span></p>
        <p>Last name <%= doctor_form.text_field :last_name %><span id='doctor-last-name-error-message' class='validation-message'>Last name required</span></p>
      </div>
    
    <% end %>
    <%=fields_for :pharmacy do |pharmacy_form| %>
    <% if current_user.pharmacies.length > 0  %>
        <p><%= radio_button_tag(:pharm_type, "existing", checked: 'checked') %> My pharmacies
      <%= pharmacy_form.select :id, @user.pharmacies.uniq.map {|pharmacy| ["#{pharmacy.name} - #{pharmacy.location}", pharmacy.id]}, include_blank: true, selected: @prescription.pharmacy.id %>
    </p>
      <p><%= radio_button_tag(:pharm_type, "new") %> New pharmacy</p>
        <div id='new-pharmacy-fields'>
        <% else %>
        <input type='hidden' name='pharm_type' value='new'>
      <p>Pharmacy</p>
      <% end %>
      <p>Name <%= pharmacy_form.text_field :name %><span id='pharmacy-name-error-message' class='validation-message'>Name required</span></p>
      <p>Location <%= pharmacy_form.text_field :location %><span id='pharmacy-location-error-message' class='validation-message'>Location required</span></p>
        </div>
      <% end %>
    <p>Prescription length (in days) <%= f.number_field :fill_duration, min: 1 %><span id='prescription-length-error-message' class='validation-message'>Must be 1 or greater</span></p>
    <p>Number of refills <%= f.number_field :refills, min: 0 %><span id='refills-error-message' class='validation-message'>Must be 0 or greater</span></p>
    <p>Start date <%= f.date_field :start_date, :value => Date.today %><span id='start-date-error-message' class='validation-message'>Invalid date</span></p>
    <p>Dose size <%= f.text_field :dose_size, placeholder: "e.g., 40 mg"%><span id='dose-size-error-message' class='validation-message'>Dose size required</span></p>
    <p>How many doses will you take at these times?</p>
    <p>
    Morning <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :morning, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.doses_by_time_of_day('morning') %>
    <% end %>
    Afternoon <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :afternoon, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.doses_by_time_of_day('afternoon') %>
    <% end %>
    Evening <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :evening, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.doses_by_time_of_day('evening') %>
    <% end %>
    Bedtime <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :bedtime, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.doses_by_time_of_day('bedtime') %>
    <% end %>
   </p><br>
        <p><%= f.submit :class => "btn btn-primary", 'id' => "form-submit", disabled: true %></p>
  <% end %>

