<%= form_for @prescription, remote: true do |form| %>
  <%= fields_for :drug do |drug_form| %>
    <p>Drug name <%= drug_form.text_field :name, value: @prescription.drug.name, disabled: form.object.persisted? %>
    <span id='drug-name-validity-message' class='form-validity-message'></span></p>
  <% end %>
  <%=fields_for :doctor do |doctor_form| %>
    <% if @user.doctors.length > 0 %>
      <p><%= radio_button_tag :doctor_type, 'existing', checked: 'checked' %> My doctors
      <%= doctor_form.select :id, @user.doctors.uniq.map { |doctor|
      ["#{doctor.first_name} #{doctor.last_name}", doctor.id] },
      include_blank: true, selected: @prescription.doctor.id %></p>
      <p><%= radio_button_tag :doctor_type, 'new' %> New doctor</p>
    <div id='new-doctor-fields'>
    <% else %>
      <input type='hidden' name='doctor_type' value='new'>
      <p>Doctor</p>
    <% end %>
      <p>First name <%= doctor_form.text_field :first_name %>
      <span id='doctor-first-name-validity-message' class='form-validity-message'>First name required</span></p>
      <p>Last name <%= doctor_form.text_field :last_name %>
      <span id='doctor-last-name-validity-message' class='form-validity-message'>Last name required</span></p>
    </div>
  <% end %>
  <%=fields_for :pharmacy do |pharmacy_form| %>
    <% if @user.pharmacies.length > 0 %>
      <p><%= radio_button_tag :pharmacy_type, 'existing', checked: 'checked' %> My pharmacies
      <%= pharmacy_form.select :id, @user.pharmacies.uniq.map {|pharmacy|
      ["#{pharmacy.name} - #{pharmacy.location}", pharmacy.id] },
      include_blank: true, selected: @prescription.pharmacy.id %></p>
      <p><%= radio_button_tag :pharmacy_type, 'new' %> New pharmacy</p>
    <div id='new-pharmacy-fields'>
    <% else %>
      <input type='hidden' name='pharmacy_type' value='new'>
      <p>Pharmacy</p>
    <% end %>
      <p>Name <%= pharmacy_form.text_field :name %>
      <span id='pharmacy-name-validity-message' class='form-validity-message'>Name required</span></p>
      <p>Location <%= pharmacy_form.text_field :location %>
      <span id='pharmacy-location-validity-message' class='form-validity-message'>Location required</span></p>
    </div>
  <% end %>
  <p>Prescription length (in days) <%= form.number_field :fill_duration %>
  <span id='length-validity-message' class='form-validity-message'>Must be 1 or greater</span></p>
  <p>Number of refills <%= form.number_field :refills %>
  <span id='refills-validity-message' class='form-validity-message'>Must be 0 or greater</span></p>
  <p>Start date <%= form.date_field :start_date, value: form.object.start_date || Date.today %>
  <span id='start-date-validity-message' class='form-validity-message'>Invalid date</span></p>
  <p>Dose size <%= form.text_field :dose_size, placeholder: "e.g. 40mg"%>
  <span id='dose-size-validity-message' class='form-validity-message'>Dose size required</span></p>
  <p>How many doses will you take at these times?</p>
  <p><%= fields_for :scheduled_doses do |scheduled_dose_form| %>
    Morning <%= scheduled_dose_form.select :morning, (0..7).to_a, selected: @prescription.doses_by_time_of_day('morning') %>
    Afternoon <%= scheduled_dose_form.select :afternoon, (0..7).to_a, selected: @prescription.doses_by_time_of_day('afternoon') %>
    Evening <%= scheduled_dose_form.select :evening, (0..7).to_a, selected: @prescription.doses_by_time_of_day('evening') %>
    Bedtime <%= scheduled_dose_form.select :bedtime, (0..7).to_a, selected: @prescription.doses_by_time_of_day('bedtime') %>
  <% end %></p><br>
  <p><%= form.submit id: 'prescription-form-submit', class: 'btn btn-primary', disabled: true %></p>
<% end %>