<div id='expiring-soon-table'>
  <div class='row table-head'><h2>Expiring Soon</h2></div>
  <div class='row table-column-heads'>
    <div class='col-xs-3'><h3>Medication</h3></div>
    <div class='col-xs-3'><h3>End Date</h3></div>
    <div class='col-xs-3'><h3>Refills Remaining</h3></div>
    <div class='col-xs-3'></div>
  </div>
  <% if @user.prescriptions.ending_within_week.count > 0 %>
    <% @user.prescriptions.ending_within_week.sort.each do |prescription| %>
      <div class='row table-row'>
        <div class='col-xs-3 table-cell-container'>
          <div class='table-cell vertically-centered'>
            <div class='vertically-centered'><%= prescription.drug.name %></div>
          </div>
        </div>
        <div class='col-xs-3 table-cell-container'>
          <div class='table-cell vertically-centered'>
            <div class='vertically-centered'><%= prescription.end_date.strftime('%A, %B %d') %></div>
          </div>
        </div>
        <div class='col-xs-3 table-cell-container'>
          <div class='table-cell vertically-centered'>
            <div class='vertically-centered'><%= prescription.refills %></div>
          </div>
        </div>
        <% if prescription.refills > 0 %>
          <div id='<%= prescription.id %>' class='col-xs-3 table-cell-container'>
            <div class='refill-button refill-button-group vertically-centered'>
              <span class='refill-button-text refill-button-group'>I Got My Refill</span>
              <%= image_tag 'pills-and-check-mark.png', class: 'pills refill-button-group' %>
            </div>
          </div>
        <% else %>
          <div id='<%= prescription.id %>' class='col-xs-3 table-cell-container'>
            <div class='add-refills-button refill-button-group vertically-centered edit-prescription-button' data-toggle="modal" data-target="#prescription-modal">
              <span class='refill-button-text refill-button-group edit-prescription-button' data-toggle="modal" data-target="#prescription-modal">Add Refills</span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>