<div id='regimen-table'>
  <div class='row table-head'>
    <h2><%= Time.now.strftime('%A %B %d') %>, <%= Time.now.strftime('%Y') %></h2>
  </div>
  <div class='row'>
    <% ['morning', 'afternoon', 'evening', 'bedtime'].each do |time_of_day| %>
      <div class="col-sm-3 pillbox-cell pillbox-cell-<%= time_of_day %>">
        <div class='icon-container'><%= image_tag "#{time_of_day}.png", class: "#{time_of_day}-icon" %></div>
        <%= react_component 'Regimen', {data: @user.regimen(time_of_day)} %>
      </div>
    <% end %>
  </div>
</div>